<section class="author" itemprop="author">
    <div class="details" itemscope itemtype="http://schema.org/Person">
        <img itemprop="image" class="img-rounded" src="{{site.baseurl}}/assets/img/inhow.jpg" alt="{{site.name}}">
        <p class="def"></p>
        <h3 class="name">
            <a itemprop="name" href="https://plus.google.com/{{site.gplus_username}}/posts">{{site.username}}</a>
        </h3>
        <p class="desc">{{site.user_description}}</p>
        <a itemprop="email" class="email" href="mailto:{{site.email}}">{{site.email}}</a>
    </div>
    {% if page.comments %}
    <div id="disqus_thread"></div>
    <script>
        /**
        *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
        *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
        
        var disqus_config = function () {
        this.page.url = 'https://inhos-gitblog{{page.url';   // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = '{{page.id}}';               // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        
        (function () { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://inhos-gitblog.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered
            by Disqus.</a></noscript>
    {% endif %}
</section>